.bg-color{
    background-color: #11101f;
}
.btn-hiring-me{
    background-color: rgb(215, 0, 122);
}
.bg-color-footer{
    background-color: #1a1742; 
}
.bg-color-skill{
    background-color: #0e0d18; 
}
html {
    scroll-behavior: smooth;
  }